// Primary
@Moderate-violet: hsl(263, 55%, 52%);
@border-color: hsl(263, 55%, 70%);
@Very-dark-grayish-blue: hsl(217, 19%, 35%);
@Very-dark-blackish-blue: hsl(219, 29%, 14%);
@White: hsl(0, 0%, 100%);

//Neutral

@Light-gray: hsl(0, 0%, 81%);
@Light-grayish-blue: hsl(210, 46%, 95%);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.barlow-semi-condensed-medium {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.barlow-semi-condensed-semibold {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
}

body {
	background-color: @Light-grayish-blue;
	font-size: 13px;
	color: @Light-grayish-blue;

	.grid-container {
		padding: 40px 20px;
		display: grid;
		justify-content: center;

		.card {
			border-radius: 10px;
			max-width: 400px;
			min-width: 300px;
			margin-bottom: 20px;
			padding: 30px;

			.header {
				display: flex;
				align-items: center;

				.card__img {
					margin-right: 15px;
					border-radius: 50%;
					width: 40px;
					height: 40px;
					border: @border-color 2px solid;
				}
				p {
					opacity: 50%;
				}
			}

			.card__lead {
				font-size: 1.4rem;
				margin: 15px 0;
			}

			.card__quote {
				opacity: 70%;
			}
		}

		.card__bg_purple {
			background: url(images/bg-pattern-quotation.svg) @Moderate-violet;
			background-repeat: no-repeat;
			background-position: top 0 right 30px;
		}

		.card__bg_gray {
			background-color: @Very-dark-grayish-blue;
		}

		.card__bg_white {
			color: @Very-dark-grayish-blue;
			box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 6px;
		}

		.card__bg_darkblue {
			background-color: @Very-dark-blackish-blue;
		}
	}
}

.attribution {
	text-align: center;
	margin: 20px 0;
}
