* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  height: 100%;
  width: 100%;
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  color: hsl(210, 46%, 95%);
}
body .grid-container {
  padding: 40px 20px;
  display: grid;
  justify-content: center;
}
body .grid-container .card {
  border-radius: 10px;
  max-width: 400px;
  min-width: 300px;
  margin-bottom: 20px;
  padding: 30px;
}
body .grid-container .card .header {
  display: flex;
  align-items: center;
}
body .grid-container .card .header .card__img {
  margin-right: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: hsl(263, 55%, 70%) 2px solid;
}
body .grid-container .card .header p {
  opacity: 50%;
}
body .grid-container .card .card__lead {
  font-size: 1.4rem;
  margin: 15px 0;
}
body .grid-container .card .card__quote {
  opacity: 70%;
}
body .grid-container .card__bg_purple {
  background: url(images/bg-pattern-quotation.svg) hsl(263, 55%, 52%);
  background-repeat: no-repeat;
  background-position: top 0 right 30px;
}
body .grid-container .card__bg_gray {
  background-color: hsl(217, 19%, 35%);
}
body .grid-container .card__bg_white {
  color: hsl(217, 19%, 35%);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 6px;
}
body .grid-container .card__bg_darkblue {
  background-color: hsl(219, 29%, 14%);
}
.attribution {
  text-align: center;
  margin-bottom: 20px;
  color: hsl(219, 29%, 14%);
  font-size: 16px;
}
.attribution a {
  color: hsl(263, 55%, 52%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(263, 55%, 30%);
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 15px;
    overflow-x: hidden;
  }
  body .grid-container {
    padding: 20px 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  body .grid-container .card {
    max-width: none;
    padding: 30px;
  }
  body .grid-container .card__bg_purple {
    grid-column: 1 / 3;
  }
  body .grid-container :nth-child(3) {
    grid-column: 1;
  }
  body .grid-container .card__bg_darkblue {
    grid-column: 2 / 4;
  }
  body .grid-container :nth-child(5) {
    grid-column: 4;
    grid-row: 1 / 3;
  }
}
